<head>
  <link rel="stylesheet" type="text/css" href="/src/app/components/currency/currency.component.css">
</head>

<body>

<p id="title">Currency Converter</p>

<div class="functionality-container">

  <mat-form-field id="amount">
    <mat-label> Amount </mat-label>
    <input matInput maxlength="20" minlength="1" type="text" [(ngModel)]="amount">
    <button mat-button *ngIf="amount" matSuffix mat-icon-button aria-label="Clear" (click)="amount=''">
      <mat-icon style="color: white"> close </mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field id="fromCurrency">
    <mat-label> From </mat-label>
    <mat-select [(value)]="fromCurrency">
      <mat-option *ngFor="let type of currencyTypes" value="fromCurrency">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field id="toCurrency">
    <mat-label> To </mat-label>
    <mat-select [(value)]="toCurrency">
      <mat-option *ngFor="let type of currencyTypes" value="toCurrency">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button id="calculateButton" color="red" (click)="calculateCurrencyValue()">
    Calculate
  </button>

</div>

<div id="result">
   {{result}}
</div>

</body>
