body {
  background-image: url("src/1092830.jpg");
  margin: 0;
  background-color: slateblue;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#title {
  padding-top: 280px;
  text-align: center;
  text-shadow: 0 1px 1px;
  font-family: "Arial Black",serif;
  font-size: 3.5em;
  font-weight: bold;
  color: white;
}

.functionality-container {
  align-items: center;
  margin-top: 60px;
  margin-left: 34%;
  float: left;
}

#disableButton {
  float: left;
  margin-top: 72px;
}

/deep/ .mat-tooltip {
  font-size: 13px;
}

button:disabled,
button[disabled]{
  border: 1px solid yellow;
}

#amount {
  color: white;
}

#fromCurrency {
  padding-right: 15px;
  padding-left: 15px;
}

.mat-input-element {
  font-size: 22px;
}

::ng-deep .mat-select-value-text {
  color: white;
  font-size: 18px;
}

::ng-deep .mat-form-field-label{
  color:white !important;
}

.mat-form-field.mat-form-field {
  font-size: 18px;
}

::ng-deep .mat-form-field-underline{
  background-color:yellow !important;
}

::ng-deep .mat-raised-button {
  color: navy;
  background: yellow;
}

#toCurrency {
  padding-right: 15px;
}

#outputText {
  clear: both;
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  color: white;
}

#result {
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  color: white;
}
