<head>
  <link href="/src/app/components/currency/currency.component.css">
</head>

<body>

<p id="title">Currency Converter</p>

<div class="functionality-container">

  <mat-form-field id="amount">
    <mat-label> Amount </mat-label>
    <input matInput maxlength="20" ng-minlength="1" type="text"
           (keypress)="keyPress($event)"
           [(ngModel)]="amount"
           [formControl]="inputAmountForm" required>
    <button mat-button *ngIf="amount" matSuffix mat-icon-button aria-label="Clear"
            (click)="amount=''">
      <mat-icon style="color: white"> close </mat-icon>
    </button>
    <mat-error *ngIf="inputAmountForm.hasError('required')">
      Please input some value
    </mat-error>
  </mat-form-field>

  <mat-form-field id="fromCurrency">
    <mat-label> From </mat-label>
    <mat-select [(ngModel)]="fromCurrency"
                [placeholder]="fromCurrency"
                [formControl]="fromCurrencyForm" required>
      <mat-option *ngFor="let type of currencyTypes" value="{{ type }}">
        {{ type }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="fromCurrencyForm.hasError('required')">
      Please select currency type
    </mat-error>
  </mat-form-field>

  <mat-form-field id="toCurrency">
    <mat-label> To </mat-label>
    <mat-select [(ngModel)]="toCurrency"
                [placeholder]="toCurrency"
                [formControl]="toCurrencyForm" required>
      <mat-option *ngFor="let type of currencyTypes" value="{{ type }}">
        {{ type }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="toCurrencyForm.hasError('required')">
      Please select currency type
    </mat-error>
  </mat-form-field>

</div>

<div id="disableButton" matTooltip="Enter amount to convert" matTooltipPosition="above"
     [matTooltipDisabled]="amount">
  <button mat-raised-button id="calculateButton"
          [disabled]="fromCurrency === toCurrency || !amount"
          (click)="calculateCurrencyValue()">
    Calculate
  </button>
</div>

<div id="outputText">
   {{ outputText }}
</div>

<div id="result">
   {{ result }}
</div>

</body>
